.song-area{
  background-color: #272727;
  border-radius: 5px;
  width: 300px;
  height: 130px;

  display: grid;
  grid-template-columns: 30% auto;
  grid-gap: 20px;
  align-content: center;
  justify-content: center;

  margin-bottom: 20px;
}

.song-details{
  width: 150px;
  display: flex;
  flex-direction: column;
}

p{
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artist, .album{
  color: #ffffffbb;
}


img{
  margin-top: 5px;
  width: 100px;
  height: 100px;
}
